// Include custom web fonts
@import url(../css/fonts.css);

// bootstrap over-rides
$primary:       #3b4063;
$success:       #72a98f;
$warning:       #ffbf00;
$danger:        #ca4d5e;
$secondary:     #7d8ca3;
$info:          #8a817c;

// not sure the default system fonts go well with league gothic...

$font-family-sans-serif:
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Increase font size for headings in League Gothic:
//
$display1-size: 12rem;
$h1-font-size:  3.5rem;

// Include bootstrap after overrides to ensure over-rides work correctly
@import "../bootstrap/scss/bootstrap";

// Custom CSS

.MUK-title {
    height: 1em;
    width: auto;
    content: url(../img/MarkupUK.svg);
}

.MUK-logo {
    height: 1em;
    width: auto;
    content: url(../img/MUK_Logo.svg);
}

html {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    body {
        margin: 2rem;
    }
}

strong {
    color: $danger;
}

h1 {
    @extend .leagueGothic;
    color: $primary;
}

h2 {
    color: $secondary;
}

.leagueGothic {
    font-family: 'League Gothic';
}

img {
    max-height: 15rem;
    position: relative;
    left: -2%;
}

.jumbotron {
    h1, h2 {
        @extend .text-center;
    }
    h1 {
        @extend .display-1;
    }
    h2 {
        @extend .display-2;
    }
}